main .top_row {
  position: relative;
}

main .about_text_box {
  color: silver;
  background: rgba(0, 0, 0, 0.801);
  padding: 32px;
  position: absolute;
  top: 33px;
  right: 80px;
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.795);
  border-radius: 4px;
}

main .img_box {
  border-radius: 4px;
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.795);
}

main .agency_row {
  position: relative;
}

main .agency_text_box {
  color: silver;
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.795);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.801);
  position: absolute;
  padding: 16px;
  height: 160px;
  top: 83px;
  right: 160px;
}

@media (max-width: 1400px) {
  main .about_text_box {
    position: inherit;
    top: auto;
    right: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 8px;
  }

  main .img_box {
    max-width: 50%;
  }

  main .agency_text_box {
    position: inherit;
    top: auto;
    right: auto;
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  main .about_text_box {
    position: inherit;
    top: auto;
    right: auto;
    width: 100%;
    margin-top: 8px;
  }

  main .img_box {
    max-width: 75%;
  }

  main .agency_text_box {
    position: inherit;
    margin-top: 8px;
    height: auto;
    width: 100%;
  }
}
