.accordion-item {
  background: rgb(235, 205, 31);
  background: linear-gradient(
    90deg,
    rgba(235, 205, 31, 1) 0%,
    rgba(214, 212, 198, 1) 0%,
    rgba(210, 210, 201, 1) 100%,
    rgba(179, 179, 162, 1) 100%,
    rgba(199, 199, 198, 1) 100%
  );
}

.accordion-button.collapsed {
  background: rgb(235, 205, 31) !important;
  background: linear-gradient(
    90deg,
    rgba(235, 205, 31, 1) 0%,
    rgba(29, 29, 26, 1) 0%,
    rgba(27, 27, 25, 1) 100%,
    rgba(46, 46, 43, 1) 100%,
    rgba(23, 23, 22, 1) 100%,
    rgba(34, 34, 32, 1) 100%,
    rgba(83, 83, 78, 1) 100%,
    rgba(179, 179, 162, 1) 100%,
    rgba(199, 199, 198, 1) 100%
  ) !important;

  color: rgb(204, 200, 200) !important;
}

.accordion-button {
  background: rgb(235, 205, 31) !important;
  background: linear-gradient(
    90deg,
    rgba(235, 205, 31, 1) 0%,
    rgba(214, 212, 198, 1) 0%,
    rgba(210, 210, 201, 1) 100%,
    rgba(179, 179, 162, 1) 100%,
    rgba(199, 199, 198, 1) 100%
  ) !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
}

.accordion-body {
  color: rgb(204, 200, 200) !important;
  border-radius: 4px !important;

  background: rgb(235, 205, 31) !important;
  background: linear-gradient(
    90deg,
    rgba(235, 205, 31, 1) 0%,
    rgba(29, 29, 26, 1) 0%,
    rgba(27, 27, 25, 1) 100%,
    rgba(46, 46, 43, 1) 100%,
    rgba(23, 23, 22, 1) 100%,
    rgba(34, 34, 32, 1) 100%,
    rgba(83, 83, 78, 1) 100%,
    rgba(179, 179, 162, 1) 100%,
    rgba(199, 199, 198, 1) 100%
  ) !important;
}
